/* General Styles */
.login {
    font-family: 'Arial', sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #555;
}

.login h3 {
  font-size: 16px;
  color: #adadad;
}

.login h2 {
  font-size: 20px;
  color: #000000;
}
/* Input Fields */
input[type="email"],
input[type="text"],
input[type="number"] {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.8);
}

/* Button */
button {
  align-items: center;
  background-color: #007bff;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
}

button:hover {
  background-color: #007bff;
  cursor: pointer;
}

/* Error or Success Messages */
.message {
    font-size: 14px;
    margin-top: 10px;
}

.message.error {
    color: #e74c3c;
}

.message.success {
    color: #2ecc71;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .login h1 {
        font-size: 50px;
    }

    button {
        font-size: 14px;
    }
}
